<div class="alert" ng-class="vm.alertClass" role="alert">
    <button type="button" class="btn btn-xs btn-warning" ng-mouseup="vm.cancel()"
            ng-disabled="!vm.isCancelable()">
        Cancel
    </button>
    <button type="button" class="btn btn-xs btn-danger" ng-mouseup="vm.remove()"
            ng-disabled="!vm.isDeletable()">
        Delete
    </button>
    <strong>Algo:</strong> {{vm.task.algo}}
    <br>
    <strong>URI:</strong> {{vm.task.src}}
    <br>
    <strong>status:</strong> {{vm.task.status}}
    <br>

    <strong>Elapsed time:</strong> {{vm.task.elapsedSeconds}} sec
    <br>
    <div ng-if="vm.task.status=='SUCCESS'">
        <strong>Hash:</strong> {{vm.task.hash}}
    </div>
    <div ng-if="vm.task.status=='EXCEPTIONAL'">
        <strong>stacktrace:</strong>
        <div style="white-space: pre-wrap;font-family: monospace;">{{vm.task.stacktrace}}</div>
    </div>
    <br>
</div>
